<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP-FastCGI-sub7.3" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php7.3\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.php" />
                <add value="index.asp" />
                <add value="default.asp" />
                <add value="index.aspx" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <urlCompression doDynamicCompression="false" />
        <rewrite>
          <rules>
            <rule name="Reescrever Transaction"  stopProcessing="true">
                <match url="^transaction\/(.*)\/(.*)$" />
                <action type="Rewrite" url="transaction.php?module={R:1}&amp;method={R:2}" />
            </rule>
            <rule name="Reescrever Pasta Public" stopProcessing="true">
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="false" />
                </conditions> 
                <match url="^public\/(.*)" />
                <action type="Rewrite" url="public\/{R:1}" />
            </rule>
            <rule name="Redirecionar o restante para o arquivo index.php">
                <conditions>
                    <add input="{REQUEST_URI}" pattern="public\/(.*)" negate="true" />
                    <add input="{REQUEST_URI}" pattern="transaction\/(.*)\/(.*)" negate="true" />
                </conditions>
                <match url="^(.*)$" />
                <action type="Rewrite" url="index.php" appendQueryString="true" />
            </rule>
         </rules>
        </rewrite>

    </system.webServer>
</configuration>