{
	"_config" : {
		"admin" : [
			{
				"module" : "CMS\\UserPanel",
				"method" : "sideMenu"
			},
			{
				"module" : "CMS\\BugTracker",
				"method" : "sideMenu"
			}
		],
		"page":{
			"cms-header" :{
				"file" : "CMS/header.php"
			},
			"cms-footer" :{
				"file" : "CMS/footer.php"
			},
			"cms-login" :{
				"file" : "CMS/login.php",
				"static" : "admin/login",
				"includeBefore" : ["cms-header"],
				"includeAfter": ["cms-footer"],
				"using": ["CMSController\\Login"],
				"sitemap": false
			},
			"cms" :{
				"file" : "CMS/index.php",
				"pattern" : "admin/?/?",
				"variables" : ["module", "block"],
				"includeBefore" : ["cms-header"],
				"includeAfter": ["cms-footer"],
				"using": ["CMSController\\Main"],
				"sitemap": false
			},
			"cms-style":{
				"file" : "CMS/style.php",
				"static" : "cms-custom/style.css",
				"contentType": "text/css",
				"using": ["CMSController\\Main"],
				"sitemap": false
			},

			"n-cms-partial-menu-mobile":{
				"file":"CMS/partials/_header-mobile.php"
			},

			"n-cms-partial-aside":{
				"file":"CMS/partials/_aside.php"
			},

			"n-cms-partial-header":{
				"file":"CMS/partials/_header.php"
			},

			"n-cms-partial-footer":{
				"file":"CMS/partials/_footer.php"
			},
			
			"n-cms-partial-subheader":{
				"file":"CMS/partials/subheader-v5.php"
			},
			
			"n-cms-partial-content":{
				"file":"CMS/partials/_content.php"
			},

			"n-cms-partial-dropdown-user":{
				"file":"CMS/partials/_dropdown_user.php"
			},
			
			"n-cms-partial-dropdown-notifications":{
				"file":"CMS/partials/_dropdown_notifications.php"
			}
		}
	},
	"style":{
		"header-bg": "",
		"header-tx": "",
		"subheader-bg": "",
		"brand-bg": "",
		"aside-bg": "",
		"aside-bg-active": "",
		"aside-sub-bg-active": "",
		"aside-ic": "",
		"aside-ic-active": "",
		"aside-sub-ic": "",
		"aside-sub-ic-active": "",
		"aside-tx": "",
		"aside-tx-active": "",
		"aside-sub-tx": "",
		"aside-sub-tx-active": "",
		"login-btn-bg":"",
		"login-btn-tx":"",
		"login-btn-bg-active":"",
		"login-btn-tx-active":""
	}
}