{
    "_config": {
        "admin": [
            {
                "module": "Culture\\CMS",
                "method": "sideMenu"
            }
        ]
    },
    "default": "Brasil",
    "languages": {
        "pt_BR": {
            "label": "pt_BR",
            "name": "Portugu\u00eas Brasileiro",
            "charset": "UTF-8",
            "direction": "ltr",
            "suitableFor": [
                "pt",
                "pt-BR",
                "pt-PT"
            ]
        },
        "en_EN": {
            "label": "en_EN",
            "name": "Standard English",
            "charset": "UTF-8",
            "direction": "ltr",
            "suitableFor": [
                "en",
                "en-029",
                "en-AU",
                "en-BZ",
                "en-CA",
                "en-GB",
                "en-IE",
                "en-JM",
                "en-NZ",
                "en-PH",
                "en-TT",
                "en-US",
                "en-ZA",
                "en-ZW"
            ]
        }
    },
    "currencies": {
        "BRL": {
            "label": "BRL",
            "name": "Real Brasileiro",
            "symbol": "R$",
            "symbolPlacing": "$ #",
            "decimalMark": ",",
            "thousandMark": ".",
            "decimalPlaces": "2"
        },
        "USD": {
            "label": "USD",
            "name": "American Dollar",
            "symbol": "U$",
            "symbolPlacing": "$ #",
            "decimalMark": ".",
            "thousandMark": ",",
            "decimalPlaces": "2"
        }
    },
    "timezones": {
        "UTC-3": {
            "name": "Bras\u00edlia",
            "label": "UTC-3",
            "dateFormat": "d\/m\/Y",
            "timeFormat": "H:i:s",
            "dateTimeFormat": "d\/m\/Y H:i:s",
            "timezone": "America\/Sao_Paulo"
        },
        "Internacional": {
            "label": "Internacional",
            "name": "Internacional",
            "dateFormat": "F, jS Y",
            "timeFormat": "H:i:s",
            "dateTimeFormat": "F, jS Y H:i:s",
            "timezone": "UTC"
        }
    },
    "cultures": {
        "Brasil": {
            "label": "Brasil",
            "language": "pt_BR",
            "timezone": "UTC-3",
            "currency": "BRL"
        },
        "Internacional": {
            "label": "Internacional",
            "language": "en_EN",
            "timezone": "Internacional",
            "currency": "USD"
        }
    }
}