{
	"_config" : {
		"admin" : [
		]
	},
	"recaptcha":{
		"secret":"",
		"public":""
	},
	"analytics":{
		"default": ""
	},
	"adwords":{
		"id":""
	},
	"maps":{
		"street-view-key":{
			"key" : ""
		},
		"static-map-key":{
			"key":"",
			"signature":""
		},
		"map-js":{
			"key":""
		},
		"map-embed":{
			"key":""
		}
	}
}