{
    "_config": {
        "admin": [
            {
                "module": "Mail\\CMS",
                "method": "sideMenu"
            }
        ]
    },
    "accounts": {
        "default": {
            "label": "",
            "fromName": "",
            "fromEmail": "",
            "port": "",
            "host": "",
            "SMTPSecure": "",
            "username": "",
            "password": "",
            "SMTPAuth": "",
            "charSet": "UTF-8",
            "encoding": "Base64",
            "SMTPDebug": "0"
        }
    },
    "recipients": {
        "contato": {
            "title": "Contato",
            "addresses": {
            }
        }
    }
}