{
	"_config":{
		"admin":[
			{
				"module":"Newsletter\\Newsletter",
				"method": "sideMenu"
			}
		],
		"page":{

			"newsletter-table":{
				"static": "cms/Newsletter/Datatable",
				"method": "Newsletter\\Newsletter::Datatable"
			},

			"newsletter-export":{
				"static": "cms/Newsletter/Newsletter.csv",
				"method": "Newsletter\\Newsletter::Export",
				"contentType": "text/csv"
			}

		}
	}
}