{
	"header":{
		"file":"header.php",
		"headerAssets": ["css"]
	},
	"footer":{
		"file":"footer.php"
	},
	"welcome":{
		"file":"welcome.php",
		"static":"",
		"includeBefore":["header"],
		"includeAfter":["footer"],
		"data": {
			"pageTitle":"Bem vindo ao Framework!",
			"metaDescription":"Página inicial do framework da Postali",
			"metaKeywords":"framework, tela inicial",
			"metaTitle":"Framework Postali"
		}
	}	
}
