{
	"_config":{
		"page":
		{
			"sitemap" :{
				"method":"SEO\\Sitemap::show",
				"static":"sitemap.xml",
				"contentType":"application/xml",
				"sitemap" : false
			},
			"robots" :{
				"method":"SEO\\Robots::show",
				"static":"robots.txt",
				"contentType":"text/plain",
				"sitemap" : false
			}
		},
		"admin": [
            {
                "module": "SEO\\CMS",
                "method": "sideMenu"
            } 
        ],
        "before_page_render": [
        	"SEO\\PageSEO::pageHandler"
        ]
	},
	"robots":
	{
		"agents":{
			"*" : {
				"allow" : "/",
				"disallow": ["admin"]
			}
		},
		"sitemap": true
	}
}